@{
  Layout = "_Layout";

  ViewBag.Title = "Page introuvable";
}

<main class="container">
  <div class="row vh-100 text-center align-items-center">
    <div class="col jumbotron">
      <h1 class="display-4">404</h1>
      <p class="lead">Page introuvable</p>
      <hr class="my-4" />
      <p>La page demandée n’a pu être trouvée.</p>
      <p class="lead">
        <a href="/" class="btn btn-primary btn-lg" role="button">
          🏠 Aller à l’accueil
        </a>
      </p>
    </div>
  </div>
</main>
