@using SkillCraft.Tools.Models.Components;

@{
  Layout = "_Layout";

  BreadcrumbModel breadcrumb = new();
}

<div class="container">
  <h1>Accueil</h1>
  @(await Html.PartialAsync("~/Views/Shared/Breadcrumb.cshtml", breadcrumb))
  <ul>
    <li><a href="/aspects">Aspects</a></li>
    <li><a href="/castes">Castes</a></li>
    <li><a href="/educations">Éducations</a></li>
    <li><a href="/natures">Natures</a></li>
    <li><a href="/talents">Talents</a></li>
  </ul>
</div>
