@using SkillCraft.Tools.Models.Components;
@model AvatarModel

@{
  ImageModel image = new()
  {
    IsCircle = true,
    Src = Model.Url
  };
  if (image.Src == null && Model.EmailAddress != null)
  {
    // ISSUE: https://github.com/SkillCraftRPG/tools/issues/32
  }
  if (Model.DisplayName != null)
  {
    image.Alt = $"{Model.DisplayName}'s Avatar";
  }
  if (Model.Size.HasValue)
  {
    image.Height = Model.Size.Value;
  }

  BadgeModel badge = new()
  {
    Variant = Model.Variant
  };
}

<span>
  @if (image.Src != null)
  {
    @(await Html.PartialAsync("Image.cshtml", image))
  }
  else if (Model.Icon != null)
  {
    // ISSUE: https://github.com/SkillCraftRPG/tools/issues/32
    @(await Html.PartialAsync("Badge.cshtml", badge))
  }
</span>
