@using SkillCraft.Tools.Constants

<footer class="bg-dark">
  <div class="fluid">
    <a href="/" class="text-light"><img src="/img/logo.png" alt="SkillCraftRPG Logo" height="32" /></a>
    @(" ")
    <a href="/" class="text-light text-decoration-none">© SkillCraftRPG @(Api.Version) @(DateTime.Now.Year).</a>
  </div>
</footer>
